.item {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #fff;
    background-color: #ACBAEB;
}
.item img {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}