.header {
    grid-area: h;
    background-color: #1437AD;
}

.header img {
    width: 60px;
}

.loginBlock a {
    color: #fff;
}

 .loginBlock {
     float: right;
     padding-right: 16px;
     color: #fff;
 }