.selectedPage {
    font-weight: bold;
}
.spiner {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width:100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    display: none;
}

.spiner.show {
    display: block;
}

.spiner img {
    margin-top: 150px;
}

.pagination {
    margin-bottom: 16px;
}

.pagination__item {
    margin-right: 10px;
}

.pagination__item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 0 8px;
    text-align: center;
    margin-bottom: 24px;
    width: 25%;
    box-sizing: border-box;
}

.wrap {
    height: 100%;
    padding: 16px 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}