.nav {
    margin: 10px 10px 0 0;
    padding: 16px;
    grid-area: n;
    background-color: #2C4081;
}

.item {
    padding: 16px 0;
}

.link {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.link:hover {
    color: #FFAA00;
}

.item a.active {
    color: #FFAA00;
}