.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 16px;
  margin-top: 10px;
  grid-area: c;
  background-color: #6E86D6;
}